<!-- About -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].about.box | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <!-- Begin Experiment -->
     <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
        <img class="about-image" src={{ site.data.sitetext[site.locale].about.image }} alt="Yeahaw">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 text-muted text-center">{{ site.data.sitetext[site.locale].about.desc }}</div>
      </div>
   <!-- End Experiment -->
  
  </div>
</section>
<!-- End About -->