<!-- About -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].about.box | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <!-- Begin Experiment -->
     <div class="row text-center">
    {% for quack in site.data.sitetext[site.locale].about.lista %}
        <div class="col-lg-4">
          <h4 class="quack-heading">{{ quack.title | markdownify }}</h4>
          {% if quack.desc %}<div class="quack2">{{ quack.desc | markdownify }}</div>{% endif %}
        </div>
    {% endfor %}
    {% for quack in site.data.sitetext[site.locale].about.listb %}
        <div class="col-lg-8">
          <h4 class="quack-heading">{{ quack.title | markdownify }}</h4>
          {% if quack.desc %}<div class="text-muted">{{ quack.desc | markdownify }}</div>{% endif %}
        </div>
    {% endfor %}
      </div>
   <!-- End Experiment -->
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
<!-- End About -->