// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.service-image {
  position: relative;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  color: $white;
  border: 7px solid $gray-200;
  border-radius: 100%;
  background-color: $primary;

}